{% extends 'base.html'%} {% block title %}Videos{% endblock %} {% block content
%} {% block content%}
<table id="video-table" class="display">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    {% for video in videos %}
    <tr>
      <td>{{ video.title }}</td>
      <td>{{ video.description }}</td>
      <td>{{ video.url }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready(function () {
    $("#video-table").DataTable();
  });
</script>
{% endblock %}}
